<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Transit Systems</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
  <div class="container-fluid">

    <!-- Header -->
    <header class="row">
      <h1><a href="/">Transit Systems</a></h1>
      <!-- Navigation -->
      <nav>
          <!-- <ul>
              <li class="active">Our Research</li>
              <li><a href="/primary">Primary Indicators</a></li>
              <li><a href="/secondary">Secondary Indicators</a></li>
              <li><a href="/predictor">Predicting HDI</a></li>
          </ul> -->
      </nav>
    </header>

    <div class="row main-content">
      <p>Available Routes:<br/>
        <a href="/transit_systems">http://transit-systems.herokuapp.com/transit_systems</a><br/>
        <a href="/city/London">http://transit-systems.herokuapp.com/city/London</a><br/>
        <a href="/city/New York">http://transit-systems.herokuapp.com/city/New York</a><br/>
        <a href="/city/Stockholm">http://transit-systems.herokuapp.com/city/Stockholm</a><br/>
        ...
      </p>
    </div>

    <!-- Footer -->
    <footer class="row">
      <p>&copy;2020 Ellen Hsu | <a href="mailto:ellemonke@gmail.com">ellemonke@gmail.com</a></p>
    </footer>

  </div>
</body>
</html>